.share_theme_simple
{
    font-weight: bold;
    padding: 0.2em 0.6em;
    text-decoration: none;
}
.share_theme_simple.share_size_s { font-size: 14px; }
.share_theme_simple.share_size_m { font-size: 16px; }
.share_theme_simple.share_size_l { font-size: 18px; }
.share_theme_simple.share_size_xl { font-size: 20px; }
